# **Term Structure of Interest Rates**

In [2]:
from datetime import datetime
from datetime import timedelta
import scipy.optimize as optimize
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [44]:
def ytm_zero(p, maturity, fv=100):
  """
  p: coupon payment ($)
  fv: Face value ($)
  maturity: Time to maturity (years)

  Returns: Yield to maturity
  """
  ytm = (fv/p)**(1/maturity) - 1

  return round(100 * ytm, 2)

def df_zero(y, m):
  """
  y: Yield to maturity (%)
  m: Time to maturity (years)

  Returns: Discount factor
  """
  df = 1 / (1 + y/100)**m

  return round(df, 2)


def price_zero_bond(p, m, y):
  """
  p: coupon payment ($)
  m: Time to maturity (years)
  y: Yield to maturity (%)

  Returns: Price of a bond
  """
  price = 0
  for i in y:
    x = y.index(i)
    df = p[x] / (1 + y[x]/100)**m[x]
    price += df

  return price


def ytm_zero_bond(price, p, m, ytm=0.05):
  """
  price: price of the coupon bond ($)
  p: coupon payment ($)
  m: Time to maturity (years)

  Returns: Yield to maturity of a bond
  """

  ytm_func = lambda y : \
  sum([p[m.index(t)] / (1 + y)**t for t in m]) - price

  return round(100*optimize.newton(ytm_func, ytm), 2)

### Calculate the YTM and the discount factors of the given zero-coupon bonds.

* Years: 1 - Price: 98.70 USD
* Years: 2 - Price: 101.70 USD
* Years: 3 - Price: 100.00 USD

In [45]:
p = [98.7, 101, 100]
m = [1, 2, 3]

for i in p:
  ma = m[p.index(i)]
  ytm = ytm_zero(i, ma)
  df = df_zero(ytm, ma)
  print(f'Years: {ma}, YTM: {ytm}%, DF: ${df}')

Years: 1, YTM: 1.32%, DF: $0.99
Years: 2, YTM: -0.5%, DF: $1.01
Years: 3, YTM: 0.0%, DF: $1.0

### Use the give yield curve to calculate the price of the give coupon bond and then calculate the coupon bond's YTM

The Term-Structure of Interest Rates:

Maturity 	1	/ 2	/ 3

YTM 	3 %	/ 4 %	/ 5 %
			
Table of future cash flow:

Maturity 	1	/ 2	/ 3

Cash-flow	5,00 /	5,00 /	105,00

In [46]:
# price_zero_bond(p, m, y)
m = [1, 2, 3]
y = [3, 4, 5]
p = [5, 5, 105]


price = price_zero_bond(p, m, y)
print(f'Price: ${round(price, 2)}')

Price: $100.18

In [51]:
# ytm_zero_bond(price, p, m, ytm=0.05)
ytm = ytm_zero_bond(price, p, m, ytm=0.05)
print(f'YTM: {ytm}%')

YTM: 4.93%

### Calculate the 2-year forward 3 year interest rate, f(2, 3), for both Indonesia and Brazil.

Maturity (in years): 1	2	3	4	5	6	7	8	9	10
	

  Indonesia (Spot Interest Rates)

Jan/2/2015:	7,38	7,586	7,723	7,81	7,871	7,919	7,97	8,02	8,077	8,143

Apr/1/2015:	6,812	7,065	7,249	7,374	7,467	7,538	7,612	7,665	7,71	7,752

Jul/1/2015:	7,58	7,929	8,166	8,311	8,411	8,471	8,536	8,56	8,57	8,577


  Brasil (Spot Interest Rates)

Jan/2/2015:	0,968	1,829	2,564	3,076	3,457	3,733	4,017	4,245	4,447	4,612

Apr/1/2015:	1,495	2,019	2,638	3,123	3,53	3,85	4,181	4,445	4,685	4,886

Jul/1/2015:	1,157	1,831	2,566	3,154	3,674	4,057	4,454	4,739	4,964	5,141